<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" >
        <i class="fa-solid fa-m fa-2xl" style="color: #ebc1e4;"></i>
        <!-- <img src="https://banner2.cleanpng.com/20190807/taz/kisspng-heart-pink-m-design-m-95-5d4aa252aca188.8823914615651723067071.jpg" alt="logo"  width="50px"
        length="auto">--></a> 
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home"
              >&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-house fa-lg" style="color: #ebc1e4;"></i> home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_me"><i class="fa-regular fa-heart fa-lg" style="color: #ebc1e4;"></i> about me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects"><i class="fa-solid fa-bars-progress fa-lg" style="color: #ebc1e4;"></i> projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services"><i class="fa-solid fa-bell-concierge fa-lg" style="color: #ebc1e4;"></i> services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact_me"
              ><i class="fa-regular fa-address-card" style="color: #ebc1e4"></i
              > contact me</a
            >
          </li>
<!-- 
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  