body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(247, 244, 232);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #00B7FF;
}

.btn{
  background-color: rgb(238, 142, 233);
  color: #ffffff;
}

.btn {
  transition: all .7s;
}

.navbar {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 17px;
  background-color: rgb(247, 244, 232);
}

h1, h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

